{% extends 'base.html' %}
{% load static %}


{% block title %}
    Ценр оценки и продажи квартир
{% endblock %}


{% block content %}

    <div class="container">
        <div class="wrapper">
            <div class="logo_index">
                Ценр по оценке и продаже недвижимости. 
            </div>
            <div class="content">
                <div class="img_block">
                    <img src="{% static 'img/index.jpg' %}" alt="">
                </div>
                <div class="right_block">
                    <p>
                        Мы являемся одним из самых больших центров в нашем регион, так что какой бы не была сложной у вас ситуция, мы с ней справимся. У нас вы можете преобрести квартру на вторичном рынке, а также продать свою собственную, если у вас есть такая необходимость. Вы имете право держать сразу несколько кварир на продаже у нас.
                    </p>
                    <p>
                        Наши специалисты являются профессионалами своего дела и смогут верно определить стоимость вашей квартиры, также смогут посоветовать, что лучше сделать для повышения ее стоимости(ремонт, декор и тд.). Если вам будет необхома консультация по каким-то вопросам, тоо наши юристы с удовольствием вам помогут и ответят на любые ваши вопросы.
                    </p>
                </div>
                <p>
                    <span>Как идет с нами работа?</span> Да все просто, если вам необходимо купить квартиру, то вы вместе со специалистом запонляете небольшую анкету и загружаете ваши данные в базу, если их там конечно уже нет. Далее мы подбираем вам квартиру, подходящую под ваши требования и вы радуетесь жизни. Что-то похожее просиходит  при продажи квартиры, только теперь ищется нужный покупатель. Перед заключением договора ваша квартра должна оцениться нашим человком.
                </p>
                <p>
                    За нашу работю мы просим процент от продажи квартиры(его назначяет клиент, продающий квартиру)
                </p>
            </div>
        </div>
    </div>
    
{% endblock %}